<div class="container">
  <div class="travels_new">
    <p>プラン編集</p>
    <%= form_for @travel do |f| %>
      <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">タイトル</label>
      <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">出発日</label>
      <%= f.date_field :start_date, class: 'form-control' %>
      </div>
      <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">帰宅日</label>
      <%= f.date_field :end_date, class: 'form-control' %>
      </div>
      <%= f.submit '更新', class: 'btn btn-primary' %>
      <%= link_to "delete", travel_path,  method: :delete %>
    <% end %>
  </div>
</div>
</div> 