<%= link_to "プラン新規作成", new_travel_path, class: 'btn btn-success' %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">タイトル</th>
      <th scope="col">出発日</th>
      <th scope="col">帰宅日</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @travels.each do |travel| %>
      <tr>
        <td><%= travel.name %></td>
        <td><%= travel.start_date.strftime("%Y/%m/%d") %></td>
        <td><%= travel.end_date.strftime("%Y/%m/%d") %></td>
        <td>
          <%= link_to "編集", edit_travel_path(travel) %>
          <%= link_to "スケジュール編集", travel_schedules_path(travel) %>
          <%= link_to "削除", travel_path(travel),  method: :delete, data: {confirm: '削除しますか？' } %>
          <%= link_to "チェックリスト編集", travel_checklists_path(travel) %>
 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>