<%= link_to "スケジュール新規作成", new_travel_schedule_path, class: 'btn btn-success' %>
<div class="mb-3 row">
  <h2><%= @travel.name %></h2>
  <% @schedule_hash.keys.each do |date| %>
    <%= date.strftime("%Y/%m/%d") %>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">開始時刻</th>
          <th scope="col">終了時刻</th>
          <th scope="col">スケジュール名</th>
          <th scope="col">費用</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @schedule_hash[date].each do |schedule| %>
          <tr>
            <td><%= schedule.start_at.strftime("%-H:%M") %></td>
            <td><%= schedule.end_at.strftime("%-H:%M") %></td>
            <td><%= schedule.title %></td>
            <td><%= schedule.cost %></td>
            <td>
              <%= link_to "編集", edit_travel_schedule_path(@travel,schedule) %>
              <%= link_to "削除", travel_schedule_path(@travel,schedule),  method: :delete, data: {confirm: '削除しますか？' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
         
    