<%= link_to "チェックリスト新規作成", new_travel_checklist_path(@travel), class: 'btn btn-success' %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">checked</th>
      <th scope="col">項目名</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @checklists.each do |checklist| %>
      <tr>
        <td>
          <% if checklist.checked %>
            <%= link_to "not done", travel_checklist_path(@travel, checklist, params: { checklist: { checked: false } }), method: :patch %>
          <% else %>
            <%= link_to "done", travel_checklist_path(@travel,checklist),  method: :patch, params: {checked: true } %>
          <% end %>
        </td>
        <td><%= checklist.title %></td>
        <td>
          <%= link_to "Edit", edit_travel_checklist_path(@travel,checklist) %>
          <%= link_to "delete", travel_checklist_path(@travel,checklist),  method: :delete, data: {confirm: '削除しますか？' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

