<!DOCTYPE html>
<html>
  <head>
    <title>Trapla</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  </head>
  

  <body>
    <div class="container">
      <div class="logo my-3">
        <a href="index.html">ロゴ画像</a>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="list-group">
            <% if user_signed_in? %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'list-group-item list-group-item-action list-group-item-light' %>
            <% else %>
                <%= link_to "ログイン", new_user_session_path, class: 'list-group-item list-group-item-action list-group-item-light' %>
            <% end %>
            <a href="#" class="list-group-item list-group-item-action list-group-item-light">プラン一覧</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-light">チェックリスト</a>
            <a href="#" class="list-group-item list-group-item-action list-group-item-light">お問い合わせ</a>
          </div>
        </div>
        <div class="col-9">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
